certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.5
cryptg==0.4.0
gTTS==2.5.2
idna==3.7
pyaes==1.6.1
pyasn1==0.6.0
pypiwin32==223
python-dotenv==1.0.1
pyttsx3==2.90
pywin32==306
requests==2.32.3
rsa==4.9
setuptools==71.1.0
Telethon==1.36.0
tzdata==2024.1
urllib3==2.2.2
